<header>

    <div class="container mx-auto color-green">
        <h1 class="text-4xl text-center">Bienvenidos al mejor growshop de Argentina</h1>
        <div class="flex justify-center">
            <ul class="flex">
                <li class="mr-6">
                    <a href="/">Inicio</a>
                </li>
                <li class="mr-6">
                    <a href="/products">Tienda</a>
                </li>
                <li class="mr-6">
                    <a href="/about">Acerca de </a>
                </li>
                <li class="mr-6">
                    <a href="/cart">Carrito</a>
                </li>
            </ul>
        </div>
    </div>

  

</header>